@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Blog";
}

    <div class="mb-3">
        <label class="form-label">Blog Title</label>
    <input type="text" class="form-control" name="BlogTitle" id="BlogTitle">
    </div>
    <div class="mb-3">
        <label class="form-label">Blog Author</label>
    <input type="text" class="form-control" name="BlogAuthor" id="BlogAuthor">
    </div>
    <div class="mb-3">
        <label class="form-label">Blog Content</label>
    <input type="text" class="form-control" name="BlogContent" id="BlogContent">
    </div>

    <a href="/EFCoreBlogAjax" class="btn btn-secondary">Back</a>
    <button type="button" class="btn btn-success" id="btnSave">Save</button>

    @section scripts{
        <script>
            $('#btnSave').click(function(){
                let title = $('#BlogTitle').val();
                let author = $('#BlogAuthor').val();
                let content = $('#BlogContent').val();

                let _reqModel = {
                    BlogTitle: title,
                    BlogAuthor: author,
                    BlogContent: content,
                }                

                $.ajax({
                    url: "/EFCoreBlogAjax/Save",
                    data: { blog: _reqModel },
                    //data: JSON.stringify(empObj),
                    type: "POST",
                    //contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        if(result.IsSuccess){
                            Swal.fire({
                                title: "Successful.",
                                text: result.Message,
                                icon: "success",                           
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "/EFCoreBlogAjax";
                                }
                            });
                        }else{
                            Swal.fire({
                                title: "Error!",
                                text: result.Message,
                                icon: "error"
                            });
                        }
                    },
                    error: function (errormessage) {
                        console.log(errormessage.responseText);
                    }
                });
            })
        </script>
    }



